# Ignore Python cache files
*.pyc
__pycache__/

# Ignore data and log files
*.pkl
*.npy
*.csv
logs/
data/
scripts/full_ai/ppo_minecraft_tensorboard/
*.tfevents.*
*.npz


# Ignore virtual environments
.venv/
.env/
venv/

# Ignore model and checkpoint files
*.pth
*.zip
*.dll
*.pyd
*.mp4

# Ignore images
*.png

# Ignore specific folders
scripts/game_interface/ppo_tensorboard/
scripts/full_ai/training_logs/
fresh-repo/